.mobileNav {
  position: fixed;
  bottom: 80px;
  right: 10px;
  background: var(--primary-color);
  padding: 16px 20px;
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 20px;
  background-color: var(--secondary-color);
  border-radius: 12px;
  list-style-type: none;
}

.navListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active {
  & > svg {
    fill: var(--primary-orange);
  }
}